<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <script type = "text/javascript" src = "/jquery.js"></script>
    <script type = "text/javascript" src = "/wallet.js"></script>
    <title>Wallet</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">CRYPTOCOIN</a>
    </div>
</nav>
<div style="margin-top: 70px; border-bottom: 1px solid black; padding: 5px;">
    <p style="font-size: large"><b>Current address:</b></p><p id="current_address" th:text="${address}" style="color: forestgreen"></p>
</div>
<div class="container-fluid" style="margin-top: 10px">
    <div class="row">
        <!-- First Part: Form -->
        <div class="col-md-4" style="overflow-y: auto; max-height: 600px;">
            <h3>Form</h3>
            <form>
                <div class="mb-3">
                    <label for="hash" class="form-label">Hash of Input Transaction</label>
                    <input type="text" class="form-control" id="hash">
                </div>
                <div class="mb-3">
                    <label for="index" class="form-label">Index of the Output</label>
                    <input type="text" class="form-control" id="index">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address of the Receiver</label>
                    <input type="text" class="form-control" id="address">
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value</label>
                    <input type="text" class="form-control" id="value">
                </div>
                <div class="mb-3">
                    <label for="privateKey" class="form-label">Private key</label>
                    <input type="text" class="form-control" id="privateKey">
                </div>
                <p id="sign_status" style="color: red">Unsigned</p>
                <button type="button" class="btn btn-primary" onclick="sign()">Sign</button>
                <button id="submit_button" type="button" class="btn btn-primary" onclick="sendTransaction()" disabled>Send</button>
            </form>
        </div>

        <!-- Second Part: List with Div Blocks and Tables -->
        <div class="col-md-4" style="overflow-y: auto; max-height: 600px;">
            <h3>Blockchain</h3>
            <div th:each="block : ${blocks}" style="border: 2px solid black;">
                <div class="border p-3 mb-3">
                    <h6>Hash: </h6><p th:text="${block.hash}" ></p>
                    <h6>Previous hash: </h6><p th:text="${block.previousHash}"></p>
                    <h6>Table "vin"</h6>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Hash</th>
                            <th scope="col">Index</th>
                            <th scope="col">Signature</th>
                            <th scope="col">Key</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="transaction : ${block.transactions}">
                            <tr th:each="vin : ${transaction.vins}">
                                <td th:utext="${vin.hash}" style="overflow: hidden; text-overflow: ellipsis; width: 100px; white-space: nowrap;"></td>
                                <td th:utext="${vin.index}"></td>
                                <td th:utext="${vin.signature.signature}" style="overflow: hidden; text-overflow: ellipsis; width: 100px; white-space: nowrap;"></td>
                                <td th:utext="${vin.signature.key}" style="overflow: hidden; text-overflow: ellipsis; width: 100px; white-space: nowrap;"></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
                <div class="border p-3">
                    <h6>Table "vout"</h6>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Value</th>
                            <th scope="col">Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="transaction : ${block.transactions}">
                            <tr th:each="vout : ${transaction.vouts}">
                                <td th:utext="${vout.value}" style="overflow: hidden; text-overflow: ellipsis"></td>
                                <td th:utext="${vout.address}" style="overflow: hidden; text-overflow: ellipsis; max-width: 100px; white-space: nowrap;"></td>
                            </tr>
                        </div>
                        <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Third Part: Table -->
        <div class="col-md-4" style="overflow-y: auto; max-height: 600px;">
            <h3>Accounts</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Count</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:utext="${account.value}" style="overflow: hidden; text-overflow: ellipsis; width: 100px; white-space: nowrap;"></td>
                    <td th:utext="${account.key}"></td>
                </tr>
                <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>